In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler

In [2]:
# making a path to get the modules from categorical library
import os
os.chdir('..')

In [3]:
from categorical.categorical_model import categorical_Model

In [4]:
categorical_Model.extractingZipFile("./Liver Cirrhosis Stage Detection/liver_cirrhosis_stage.zip",'./Liver Cirrhosis Stage Detection/')

In [5]:
df=pd.read_csv("./Liver Cirrhosis Stage Detection/liver_cirrhosis_stage/liver_cirrhosis.csv")
df.head()

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.0,4.04,227.0,598.0,52.70,57.0,256.0,9.9,1
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.0,3.93,22.0,663.0,45.00,75.0,220.0,10.8,2
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.0,3.54,51.0,1243.0,122.45,80.0,225.0,10.0,2
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.0,3.74,23.0,1024.0,77.50,58.0,151.0,10.2,2
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.0,3.54,74.0,1052.0,108.50,109.0,151.0,11.5,1

## EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         25000 non-null  int64
 1   Status         25000 non-null  object
 2   Drug           25000 non-null  object
 3   Age            25000 non-null  int64
 4   Sex            25000 non-null  object
 5   Ascites        25000 non-null  object
 6   Hepatomegaly   25000 non-null  object
 7   Spiders        25000 non-null  object
 8   Edema          25000 non-null  object
 9   Bilirubin      25000 non-null  float64
 10  Cholesterol    25000 non-null  float64
 11  Albumin        25000 non-null  float64
 12  Copper         25000 non-null  float64
 13  Alk_Phos       25000 non-null  float64
 14  SGOT           25000 non-null  float64
 15  Tryglicerides  25000 non-null  float64
 16  Platelets      25000 non-null  float64
 17  Prothrombin    25000 non-null  float64
 18  Stage          25000 non-null  int64
dtypes: float64(9), int64(3), object(7)
memory usage: 3.6+ MB

### Removing duplicates

In [7]:
categorical_Model.checkDuplicates(df)

Removed 15361 duplicate rows.

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.000000,4.04,227.000000,598.000000,52.700000,57.000000,256.0,9.9,1
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.000000,3.93,22.000000,663.000000,45.000000,75.000000,220.0,10.8,2
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.000000,3.54,51.000000,1243.000000,122.450000,80.000000,225.0,10.0,2
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.000000,3.74,23.000000,1024.000000,77.500000,58.000000,151.0,10.2,2
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.000000,3.54,74.000000,1052.000000,108.500000,109.000000,151.0,11.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24963,3577,C,Placebo,17897,F,Y,N,Y,N,0.7,369.510563,3.49,97.648387,1982.655769,122.556346,124.702128,243.0,9.7,1
24971,4795,C,Placebo,23376,F,Y,N,Y,N,1.8,369.510563,3.24,97.648387,1982.655769,122.556346,124.702128,139.0,10.5,1
24972,3358,D,D-penicillamine,24585,F,N,Y,N,N,2.1,262.000000,3.48,58.000000,2045.000000,89.900000,84.000000,412.0,11.8,3
24991,4365,C,D-penicillamine,21324,F,N,N,N,N,0.9,346.000000,3.40,81.000000,1098.000000,122.450000,90.000000,228.0,10.3,2
24992,694,D,D-penicillamine,28650,M,Y,Y,Y,N,0.8,300.000000,2.94,231.000000,1794.000000,130.200000,99.000000,97.0,11.2,3

### Checking and Removing missing values

In [8]:
# Checking missing values for each column
print(categorical_Model.missing_columns(df))
#checking missing values of all columns
print(categorical_Model.missing_columns_total(df))
df.dropna(inplace=True)
df.head()

N_Days           0
Status           0
Drug             0
Age              0
Sex              0
Ascites          0
Hepatomegaly     0
Spiders          0
Edema            0
Bilirubin        0
Cholesterol      0
Albumin          0
Copper           0
Alk_Phos         0
SGOT             0
Tryglicerides    0
Platelets        0
Prothrombin      0
Stage            0
dtype: int64
0

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.0,4.04,227.0,598.0,52.70,57.0,256.0,9.9,1
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.0,3.93,22.0,663.0,45.00,75.0,220.0,10.8,2
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.0,3.54,51.0,1243.0,122.45,80.0,225.0,10.0,2
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.0,3.74,23.0,1024.0,77.50,58.0,151.0,10.2,2
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.0,3.54,74.0,1052.0,108.50,109.0,151.0,11.5,1

In [9]:
def showingUnique(x):
    return x.unique()

In [10]:
c=list(df.columns)
for i in c:
    if df.dtypes[i]=='object':
        print(i,showingUnique(df[i]))

Status ['C' 'D' 'CL']
Drug ['Placebo' 'D-penicillamine']
Sex ['F' 'M']
Ascites ['N' 'Y']
Hepatomegaly ['Y' 'N']
Spiders ['N' 'Y']
Edema ['N' 'Y' 'S']

### Splitting into X and y before standardize X

In [11]:
X,y=categorical_Model.splitDataIntoXy(df,"Stage")

### Standardizing the numerical columns of X

In [12]:
categorical_Model.standardizeNonCategoricalColumns(X)

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin
0,0.458561,C,Placebo,0.467195,F,N,Y,N,N,0.007220,0.017523,0.776119,0.381849,0.022765,0.061151,0.042478,0.294385,0.100000
1,0.250105,C,Placebo,0.531493,M,Y,N,Y,N,0.007220,0.059819,0.735075,0.030822,0.027554,0.043282,0.074336,0.239757,0.200000
2,0.871477,C,Placebo,0.117625,F,N,N,N,N,0.007220,0.120846,0.589552,0.080479,0.070285,0.223022,0.083186,0.247344,0.111111
3,0.431005,D,Placebo,0.360540,F,N,N,N,N,0.014440,0.081571,0.664179,0.032534,0.054150,0.118705,0.044248,0.135053,0.133333
4,0.434161,D,Placebo,0.635156,F,N,Y,N,N,0.057762,0.221148,0.589552,0.119863,0.056213,0.190647,0.134513,0.135053,0.277778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.745267,D,D-penicillamine,0.735566,F,N,N,N,N,0.018051,0.067069,0.712687,0.289384,0.642492,0.235229,0.111504,0.353566,0.222222
24996,0.745267,D,D-penicillamine,0.735566,F,N,N,N,N,0.018051,0.067069,0.712687,0.289384,0.642492,0.235229,0.111504,0.353566,0.222222
24997,0.195625,D,D-penicillamine,0.374659,F,N,Y,Y,Y,0.173285,0.150762,0.473881,0.023973,0.036910,0.356115,0.162305,0.063733,0.444444
24998,0.771140,C,D-penicillamine,0.387991,F,N,Y,N,N,0.018051,0.117825,0.850746,0.015411,0.099312,0.334532,0.065487,0.552352,0.211111
24999,0.771140,C,D-penicillamine,0.387991,F,N,Y,N,N,0.018051,0.117825,0.850746,0.015411,0.099312,0.334532,0.065487,0.552352,0.211111

### converting categorical columns to numerical of X

In [13]:
categorical_Model.checkCategoricalColumnsAndReplacingWithLE(X)

Categorical columns: Index(['Status', 'Drug', 'Sex', 'Ascites', 'Hepatomegaly', 'Spiders', 'Edema'], dtype='object')
col.unique(): ['C' 'D' 'CL']
col.value_counts(): Status
C     13516
D      9456
CL     2028
Name: count, dtype: int64
col.unique(): ['Placebo' 'D-penicillamine']
col.value_counts(): Drug
Placebo            15827
D-penicillamine     9173
Name: count, dtype: int64
col.unique(): ['F' 'M']
col.value_counts(): Sex
F    22137
M     2863
Name: count, dtype: int64
col.unique(): ['N' 'Y']
col.value_counts(): Ascites
N    16798
Y     8202
Name: count, dtype: int64
col.unique(): ['Y' 'N']
col.value_counts(): Hepatomegaly
N    15243
Y     9757
Name: count, dtype: int64
col.unique(): ['N' 'Y']
col.value_counts(): Spiders
N    13614
Y    11386
Name: count, dtype: int64
col.unique(): ['N' 'Y' 'S']
col.value_counts(): Edema
N    20220
S     3698
Y     1082
Name: count, dtype: int64

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin
0,0.458561,0,1,0.467195,0,0,1,0,0,0.007220,0.017523,0.776119,0.381849,0.022765,0.061151,0.042478,0.294385,0.100000
1,0.250105,0,1,0.531493,1,1,0,1,0,0.007220,0.059819,0.735075,0.030822,0.027554,0.043282,0.074336,0.239757,0.200000
2,0.871477,0,1,0.117625,0,0,0,0,0,0.007220,0.120846,0.589552,0.080479,0.070285,0.223022,0.083186,0.247344,0.111111
3,0.431005,2,1,0.360540,0,0,0,0,0,0.014440,0.081571,0.664179,0.032534,0.054150,0.118705,0.044248,0.135053,0.133333
4,0.434161,2,1,0.635156,0,0,1,0,0,0.057762,0.221148,0.589552,0.119863,0.056213,0.190647,0.134513,0.135053,0.277778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.745267,2,0,0.735566,0,0,0,0,0,0.018051,0.067069,0.712687,0.289384,0.642492,0.235229,0.111504,0.353566,0.222222
24996,0.745267,2,0,0.735566,0,0,0,0,0,0.018051,0.067069,0.712687,0.289384,0.642492,0.235229,0.111504,0.353566,0.222222
24997,0.195625,2,0,0.374659,0,0,1,1,2,0.173285,0.150762,0.473881,0.023973,0.036910,0.356115,0.162305,0.063733,0.444444
24998,0.771140,0,0,0.387991,0,0,1,0,0,0.018051,0.117825,0.850746,0.015411,0.099312,0.334532,0.065487,0.552352,0.211111
24999,0.771140,0,0,0.387991,0,0,1,0,0,0.018051,0.117825,0.850746,0.015411,0.099312,0.334532,0.065487,0.552352,0.211111

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         25000 non-null  float64
 1   Status         25000 non-null  int64
 2   Drug           25000 non-null  int64
 3   Age            25000 non-null  float64
 4   Sex            25000 non-null  int64
 5   Ascites        25000 non-null  int64
 6   Hepatomegaly   25000 non-null  int64
 7   Spiders        25000 non-null  int64
 8   Edema          25000 non-null  int64
 9   Bilirubin      25000 non-null  float64
 10  Cholesterol    25000 non-null  float64
 11  Albumin        25000 non-null  float64
 12  Copper         25000 non-null  float64
 13  Alk_Phos       25000 non-null  float64
 14  SGOT           25000 non-null  float64
 15  Tryglicerides  25000 non-null  float64
 16  Platelets      25000 non-null  float64
 17  Prothrombin    25000 non-null  float64
dtypes: float64(11), int64(7)
memory usage: 3.4 MB

In [15]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 25000 entries, 0 to 24999
Series name: Stage
Non-Null Count  Dtype
--------------  -----
25000 non-null  int64
dtypes: int64(1)
memory usage: 195.4 KB

In [16]:
y.unique()

array([1, 2, 3])

In [17]:
X_train, X_test, y_train, y_test=categorical_Model.splitData(X,y)

In [18]:
categorical_Model.trainModel(X_train, X_test, y_train, y_test)

Logistic Regression Accuracy: 0.6012
Decision Tree Accuracy: 0.9186
KNN Accuracy: 0.8832
Best Model: DecisionTreeClassifier with accuracy: 0.92