In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler

In [2]:
# making a path to get the modules from categorical library
import os
os.chdir('..')

In [3]:
from categorical.categorical_model import categorical_Model

In [4]:
categorical_Model.extractingZipFile("./Detect Heart Disease using patient data/heart_disease.zip",'./Detect Heart Disease using patient data/')

In [5]:
df=pd.read_csv("./Detect Heart Disease using patient data/Heart Disease/dataset.csv")
df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

## EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1190 non-null   int64
 1   sex                  1190 non-null   int64
 2   chest pain type      1190 non-null   int64
 3   resting bp s         1190 non-null   int64
 4   cholesterol          1190 non-null   int64
 5   fasting blood sugar  1190 non-null   int64
 6   resting ecg          1190 non-null   int64
 7   max heart rate       1190 non-null   int64
 8   exercise angina      1190 non-null   int64
 9   oldpeak              1190 non-null   float64
 10  ST slope             1190 non-null   int64
 11  target               1190 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 111.7 KB

### Removing duplicates

In [7]:
categorical_Model.checkDuplicates(df)

Removed 272 duplicate rows.

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1185,45,1,1,110,264,0,0,132,0,1.2,2,1
1186,68,1,4,144,193,1,0,141,0,3.4,2,1
1187,57,1,4,130,131,0,0,115,1,1.2,2,1
1188,57,0,2,130,236,0,2,174,0,0.0,2,1
1189,38,1,3,138,175,0,0,173,0,0.0,1,0

### Checking and Removing missing values

In [8]:
# Checking missing values for each column
print(categorical_Model.missing_columns(df))
#checking missing values of all columns
print(categorical_Model.missing_columns_total(df))
df.dropna(inplace=True)
df.head()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64
0

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [9]:
def showingUnique(x):
    return x.unique()

In [10]:
c=list(df.columns)
for i in c:
    if df.dtypes[i]=='object':
        print(i,showingUnique(df[i]))

### Splitting into X and y before standardize X

In [11]:
X,y=categorical_Model.splitDataIntoXy(df,"target")

In [12]:
df["target"].unique()

array([0, 1])

### Standardizing the numerical columns of X

In [13]:
categorical_Model.standardizeNonCategoricalColumns(X)

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,0.244898,1.0,0.333333,0.70,0.479270,0.0,0.0,0.788732,0.0,0.295455,0.333333
1,0.428571,0.0,0.666667,0.80,0.298507,0.0,0.0,0.676056,0.0,0.409091,0.666667
2,0.183673,1.0,0.333333,0.65,0.469320,0.0,0.5,0.267606,0.0,0.295455,0.333333
3,0.408163,0.0,1.000000,0.69,0.354892,0.0,0.0,0.338028,1.0,0.465909,0.666667
4,0.530612,1.0,0.666667,0.75,0.323383,0.0,0.0,0.436620,0.0,0.295455,0.333333
...,...,...,...,...,...,...,...,...,...,...,...
1185,0.346939,1.0,0.000000,0.55,0.437811,0.0,0.0,0.507042,0.0,0.431818,0.666667
1186,0.816327,1.0,1.000000,0.72,0.320066,1.0,0.0,0.570423,0.0,0.681818,0.666667
1187,0.591837,1.0,1.000000,0.65,0.217247,0.0,0.0,0.387324,1.0,0.431818,0.666667
1188,0.591837,0.0,0.333333,0.65,0.391376,0.0,1.0,0.802817,0.0,0.295455,0.666667
1189,0.204082,1.0,0.666667,0.69,0.290216,0.0,0.0,0.795775,0.0,0.295455,0.333333

### converting categorical columns to numerical of X

In [14]:
categorical_Model.checkCategoricalColumnsAndReplacingWithLE(X)

Categorical columns: Index([], dtype='object')

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,0.244898,1.0,0.333333,0.70,0.479270,0.0,0.0,0.788732,0.0,0.295455,0.333333
1,0.428571,0.0,0.666667,0.80,0.298507,0.0,0.0,0.676056,0.0,0.409091,0.666667
2,0.183673,1.0,0.333333,0.65,0.469320,0.0,0.5,0.267606,0.0,0.295455,0.333333
3,0.408163,0.0,1.000000,0.69,0.354892,0.0,0.0,0.338028,1.0,0.465909,0.666667
4,0.530612,1.0,0.666667,0.75,0.323383,0.0,0.0,0.436620,0.0,0.295455,0.333333
...,...,...,...,...,...,...,...,...,...,...,...
1185,0.346939,1.0,0.000000,0.55,0.437811,0.0,0.0,0.507042,0.0,0.431818,0.666667
1186,0.816327,1.0,1.000000,0.72,0.320066,1.0,0.0,0.570423,0.0,0.681818,0.666667
1187,0.591837,1.0,1.000000,0.65,0.217247,0.0,0.0,0.387324,1.0,0.431818,0.666667
1188,0.591837,0.0,0.333333,0.65,0.391376,0.0,1.0,0.802817,0.0,0.295455,0.666667
1189,0.204082,1.0,0.666667,0.69,0.290216,0.0,0.0,0.795775,0.0,0.295455,0.333333

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1190 non-null   float64
 1   sex                  1190 non-null   float64
 2   chest pain type      1190 non-null   float64
 3   resting bp s         1190 non-null   float64
 4   cholesterol          1190 non-null   float64
 5   fasting blood sugar  1190 non-null   float64
 6   resting ecg          1190 non-null   float64
 7   max heart rate       1190 non-null   float64
 8   exercise angina      1190 non-null   float64
 9   oldpeak              1190 non-null   float64
 10  ST slope             1190 non-null   float64
dtypes: float64(11)
memory usage: 102.4 KB

In [16]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1190 entries, 0 to 1189
Series name: target
Non-Null Count  Dtype
--------------  -----
1190 non-null   int64
dtypes: int64(1)
memory usage: 9.4 KB

In [17]:
y.unique()

array([0, 1])

In [18]:
X_train, X_test, y_train, y_test=categorical_Model.splitData(X,y)

In [19]:
categorical_Model.trainModel(X_train, X_test, y_train, y_test)

Logistic Regression Accuracy: 0.8403
Decision Tree Accuracy: 0.8824
RandomForest Accuracy: 0.9538
Gradient Boosting Accuracy: 0.9160
Naive Bayes Accuracy: 0.8571
KNN Accuracy: 0.8739
Support Vector Machines Accuracy: 0.8824
XGBoost Accuracy: 0.9286
Best Model: RandomForestClassifier with accuracy: 0.95